QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.DTO" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
  <xs:element name="initService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkVersion" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="VersionNrClient" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="clientVars" nillable="true" type="q2:ENVClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testRep">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q3:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testRepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendExceptionAsSMTPEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="except" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dAt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendExceptionAsSMTPEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendExceptionAsSMTPEMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSerialized">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSerializedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDataSerializedResult" nillable="true" type="q4:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastStammdaten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastStammdatenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastStammdatenResult" nillable="true" type="q5:StammdatenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastBenutzer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastBenutzerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastBenutzerResult" nillable="true" type="q6:ArrayOfBenutzerMainDTO.BenutzerDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastPatienten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastPatientenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastPatientenResult" nillable="true" type="q7:ArrayOfPatientMainDTO.PatientDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogInHCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NameGDA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rolle" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDKlinik" type="q8:guid" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q9:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogInHCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ELGALogInHCPResult" type="xs:boolean" />
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q10:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q11:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ELGALogOutResult" type="xs:boolean" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q12:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q13:ELGAParInDto" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="TypeQueryPatients" type="q14:ELGABAL.eTypeQueryPatients" />
        <xs:element minOccurs="0" name="checkOneRowMustFound" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAQueryPatientsResult" nillable="true" type="q15:ELGAParOutDto" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q16:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAinsertPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q17:ELGAParInDto" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="TypeUpdatePatients" type="q18:ELGABAL.eTypeUpdatePatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAinsertPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAinsertPatientResult" nillable="true" type="q19:ELGAParOutDto" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q20:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q21:ELGAParInDto" />
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="TypeUpdatePatients" type="q22:ELGABAL.eTypeUpdatePatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAUpdatePatientResult" nillable="true" type="q23:ELGAParOutDto" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q24:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactAdmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q25:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactAdmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAAddContactAdmissionResult" nillable="true" type="q26:ELGAParOutDto" />
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q27:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAInvalidateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q28:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAInvalidateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAInvalidateContactResult" nillable="true" type="q29:ELGAParOutDto" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q30:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactDischarge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q31:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactDischargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAAddContactDischargeResult" nillable="true" type="q32:ELGAParOutDto" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q33:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAListContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q34:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAListContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAListContactsResult" nillable="true" type="q35:ELGAParOutDto" />
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q36:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryGDAs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q37:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryGDAsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAQueryGDAsResult" nillable="true" type="q38:ELGAParOutDto" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q39:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q40:ELGAParInDto" />
        <xs:element minOccurs="0" name="OnlyOneDoc" type="xs:boolean" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAQueryDocumentsResult" nillable="true" type="q41:ELGAParOutDto" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q42:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryPatientContent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q43:ELGAParInDto" />
        <xs:element minOccurs="0" name="OnlyOneDoc" type="xs:boolean" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="queryPatientContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="queryPatientContentResult" nillable="true" type="q44:ELGAParOutDto" />
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q45:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGARetrieveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q46:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGARetrieveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGARetrieveDocumentResult" nillable="true" type="q47:ELGAParOutDto" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q48:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q49:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAAddDocumentResult" nillable="true" type="q50:ELGAParOutDto" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q51:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q52:ELGAParInDto" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAUpdateDocumentResult" nillable="true" type="q53:ELGAParOutDto" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q54:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElgaDeprecateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q55:ELGAParInDto" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElgaDeprecateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ElgaDeprecateDocumentResult" nillable="true" type="q56:ELGAParOutDto" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q57:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" minOccurs="0" name="vars" nillable="true" type="q58:CDA.CDAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" minOccurs="0" name="genCDAResult" nillable="true" type="q59:CDA.CDABack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q60:guid" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDPatient" type="q61:guid" />
        <xs:element minOccurs="0" name="ArchivPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ArchivPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileNameXMLDocumentBack" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynReportsInitStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RootPath" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q62:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynReportsInitStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DynReportsInitStructureResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RootPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getvKlientenliste">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q63:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getvKlientenlisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getvKlientenlisteResult" nillable="true" type="q64:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testPDFIum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testPDFIumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="messagesSent">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientsMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q65:guid" />
        <xs:element minOccurs="0" name="dFromTmp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dToTmp" type="xs:dateTime" />
        <xs:element xmlns:q66="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q66:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="messagesSentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.DTO" minOccurs="0" name="messagesSentResult" nillable="true" type="q67:MessagesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="messagesUnreadedUsr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientsMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q68="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q68:guid" />
        <xs:element minOccurs="0" name="dFromTmp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dToTmp" type="xs:dateTime" />
        <xs:element xmlns:q69="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q69:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="messagesUnreadedUsrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.DTO" minOccurs="0" name="messagesUnreadedUsrResult" nillable="true" type="q70:MessagesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="messagesAllUsr">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ClientsMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q71="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="UserId" type="q71:guid" />
        <xs:element minOccurs="0" name="dFromTmp" type="xs:dateTime" />
        <xs:element minOccurs="0" name="dToTmp" type="xs:dateTime" />
        <xs:element xmlns:q72="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q72:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="messagesAllUsrResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.DTO" minOccurs="0" name="messagesAllUsrResult" nillable="true" type="q73:MessagesDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDUser" type="q74:guid" />
        <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ClientsMessage" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="TypeMessage" nillable="true" type="xs:string" />
        <xs:element xmlns:q75="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lUsersTo" nillable="true" type="q75:ArrayOfguid" />
        <xs:element xmlns:q76="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDClient" type="q76:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="addMessageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" minOccurs="0" name="addMessageResult" nillable="true" type="q77:MessagesDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>