QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_Service1_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="Service1_initService_InputMessage">
    <wsdl:part name="parameters" element="tns:initService" />
  </wsdl:message>
  <wsdl:message name="Service1_initService_OutputMessage">
    <wsdl:part name="parameters" element="tns:initServiceResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_testRep_InputMessage">
    <wsdl:part name="parameters" element="tns:testRep" />
  </wsdl:message>
  <wsdl:message name="Service1_testRep_OutputMessage">
    <wsdl:part name="parameters" element="tns:testRepResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_sendExceptionAsSMTPEMail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendExceptionAsSMTPEMail" />
  </wsdl:message>
  <wsdl:message name="Service1_sendExceptionAsSMTPEMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendExceptionAsSMTPEMailResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_getDataSerialized_InputMessage">
    <wsdl:part name="parameters" element="tns:getDataSerialized" />
  </wsdl:message>
  <wsdl:message name="Service1_getDataSerialized_OutputMessage">
    <wsdl:part name="parameters" element="tns:getDataSerializedResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_getLastStammdaten_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastStammdaten" />
  </wsdl:message>
  <wsdl:message name="Service1_getLastStammdaten_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastStammdatenResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_getLastBenutzer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastBenutzer" />
  </wsdl:message>
  <wsdl:message name="Service1_getLastBenutzer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastBenutzerResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_getLastPatienten_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastPatienten" />
  </wsdl:message>
  <wsdl:message name="Service1_getLastPatienten_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastPatientenResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGALogInHCP_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGALogInHCP" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGALogInHCP_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGALogInHCPResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGALogOut_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGALogOut" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGALogOut_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGALogOutResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAQueryPatients_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAQueryPatients" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAQueryPatients_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAQueryPatientsResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAinsertPatient_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAinsertPatient" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAinsertPatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAinsertPatientResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAUpdatePatient_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAUpdatePatient" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAUpdatePatient_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAUpdatePatientResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAAddContactAdmission_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAAddContactAdmission" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAAddContactAdmission_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAAddContactAdmissionResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAInvalidateContact_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAInvalidateContact" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAInvalidateContact_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAInvalidateContactResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAAddContactDischarge_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAAddContactDischarge" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAAddContactDischarge_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAAddContactDischargeResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAListContacts_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAListContacts" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAListContacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAListContactsResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAQueryGDAs_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAQueryGDAs" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAQueryGDAs_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAQueryGDAsResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAQueryDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAQueryDocuments" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAQueryDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAQueryDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGARetrieveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGARetrieveDocument" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGARetrieveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGARetrieveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAAddDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAAddDocument" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAAddDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAAddDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAUpdateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ELGAUpdateDocument" />
  </wsdl:message>
  <wsdl:message name="Service1_ELGAUpdateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ELGAUpdateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_ElgaDeprecateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ElgaDeprecateDocument" />
  </wsdl:message>
  <wsdl:message name="Service1_ElgaDeprecateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ElgaDeprecateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_genCDA_InputMessage">
    <wsdl:part name="parameters" element="tns:genCDA" />
  </wsdl:message>
  <wsdl:message name="Service1_genCDA_OutputMessage">
    <wsdl:part name="parameters" element="tns:genCDAResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_Export_InputMessage">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="Service1_Export_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_DynReportsInitStructure_InputMessage">
    <wsdl:part name="parameters" element="tns:DynReportsInitStructure" />
  </wsdl:message>
  <wsdl:message name="Service1_DynReportsInitStructure_OutputMessage">
    <wsdl:part name="parameters" element="tns:DynReportsInitStructureResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_getvKlientenliste_InputMessage">
    <wsdl:part name="parameters" element="tns:getvKlientenliste" />
  </wsdl:message>
  <wsdl:message name="Service1_getvKlientenliste_OutputMessage">
    <wsdl:part name="parameters" element="tns:getvKlientenlisteResponse" />
  </wsdl:message>
  <wsdl:message name="Service1_testPDFIum_InputMessage">
    <wsdl:part name="parameters" element="tns:testPDFIum" />
  </wsdl:message>
  <wsdl:message name="Service1_testPDFIum_OutputMessage">
    <wsdl:part name="parameters" element="tns:testPDFIumResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1">
    <wsdl:operation name="initService">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/initService" message="tns:Service1_initService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/initServiceResponse" message="tns:Service1_initService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testRep">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/testRep" message="tns:Service1_testRep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/testRepResponse" message="tns:Service1_testRep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendExceptionAsSMTPEMail">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/sendExceptionAsSMTPEMail" message="tns:Service1_sendExceptionAsSMTPEMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/sendExceptionAsSMTPEMailResponse" message="tns:Service1_sendExceptionAsSMTPEMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getDataSerialized">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/getDataSerialized" message="tns:Service1_getDataSerialized_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/getDataSerializedResponse" message="tns:Service1_getDataSerialized_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastStammdaten">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/getLastStammdaten" message="tns:Service1_getLastStammdaten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/getLastStammdatenResponse" message="tns:Service1_getLastStammdaten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastBenutzer">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/getLastBenutzer" message="tns:Service1_getLastBenutzer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/getLastBenutzerResponse" message="tns:Service1_getLastBenutzer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastPatienten">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/getLastPatienten" message="tns:Service1_getLastPatienten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/getLastPatientenResponse" message="tns:Service1_getLastPatienten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGALogInHCP">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGALogInHCP" message="tns:Service1_ELGALogInHCP_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGALogInHCPResponse" message="tns:Service1_ELGALogInHCP_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGALogOut">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGALogOut" message="tns:Service1_ELGALogOut_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGALogOutResponse" message="tns:Service1_ELGALogOut_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryPatients">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAQueryPatients" message="tns:Service1_ELGAQueryPatients_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAQueryPatientsResponse" message="tns:Service1_ELGAQueryPatients_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAinsertPatient">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAinsertPatient" message="tns:Service1_ELGAinsertPatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAinsertPatientResponse" message="tns:Service1_ELGAinsertPatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAUpdatePatient">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAUpdatePatient" message="tns:Service1_ELGAUpdatePatient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAUpdatePatientResponse" message="tns:Service1_ELGAUpdatePatient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAAddContactAdmission">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAAddContactAdmission" message="tns:Service1_ELGAAddContactAdmission_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAAddContactAdmissionResponse" message="tns:Service1_ELGAAddContactAdmission_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAInvalidateContact">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAInvalidateContact" message="tns:Service1_ELGAInvalidateContact_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAInvalidateContactResponse" message="tns:Service1_ELGAInvalidateContact_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAAddContactDischarge">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAAddContactDischarge" message="tns:Service1_ELGAAddContactDischarge_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAAddContactDischargeResponse" message="tns:Service1_ELGAAddContactDischarge_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAListContacts">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAListContacts" message="tns:Service1_ELGAListContacts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAListContactsResponse" message="tns:Service1_ELGAListContacts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryGDAs">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAQueryGDAs" message="tns:Service1_ELGAQueryGDAs_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAQueryGDAsResponse" message="tns:Service1_ELGAQueryGDAs_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAQueryDocuments" message="tns:Service1_ELGAQueryDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAQueryDocumentsResponse" message="tns:Service1_ELGAQueryDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGARetrieveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGARetrieveDocument" message="tns:Service1_ELGARetrieveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGARetrieveDocumentResponse" message="tns:Service1_ELGARetrieveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAAddDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAAddDocument" message="tns:Service1_ELGAAddDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAAddDocumentResponse" message="tns:Service1_ELGAAddDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ELGAUpdateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ELGAUpdateDocument" message="tns:Service1_ELGAUpdateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ELGAUpdateDocumentResponse" message="tns:Service1_ELGAUpdateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ElgaDeprecateDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/ElgaDeprecateDocument" message="tns:Service1_ElgaDeprecateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ElgaDeprecateDocumentResponse" message="tns:Service1_ElgaDeprecateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="genCDA">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/genCDA" message="tns:Service1_genCDA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/genCDAResponse" message="tns:Service1_genCDA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/Export" message="tns:Service1_Export_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/ExportResponse" message="tns:Service1_Export_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DynReportsInitStructure">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/DynReportsInitStructure" message="tns:Service1_DynReportsInitStructure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/DynReportsInitStructureResponse" message="tns:Service1_DynReportsInitStructure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getvKlientenliste">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/getvKlientenliste" message="tns:Service1_getvKlientenliste_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/getvKlientenlisteResponse" message="tns:Service1_getvKlientenliste_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testPDFIum">
      <wsdl:input wsaw:Action="http://tempuri.org/Service1/testPDFIum" message="tns:Service1_testPDFIum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/Service1/testPDFIumResponse" message="tns:Service1_testPDFIum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_Service1" type="tns:Service1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initService">
      <soap:operation soapAction="http://tempuri.org/Service1/initService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRep">
      <soap:operation soapAction="http://tempuri.org/Service1/testRep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendExceptionAsSMTPEMail">
      <soap:operation soapAction="http://tempuri.org/Service1/sendExceptionAsSMTPEMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataSerialized">
      <soap:operation soapAction="http://tempuri.org/Service1/getDataSerialized" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastStammdaten">
      <soap:operation soapAction="http://tempuri.org/Service1/getLastStammdaten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastBenutzer">
      <soap:operation soapAction="http://tempuri.org/Service1/getLastBenutzer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastPatienten">
      <soap:operation soapAction="http://tempuri.org/Service1/getLastPatienten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGALogInHCP">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGALogInHCP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGALogOut">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGALogOut" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryPatients">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAQueryPatients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAinsertPatient">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAinsertPatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAUpdatePatient">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAUpdatePatient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAAddContactAdmission">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAAddContactAdmission" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAInvalidateContact">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAInvalidateContact" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAAddContactDischarge">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAAddContactDischarge" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAListContacts">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAListContacts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryGDAs">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAQueryGDAs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryDocuments">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAQueryDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGARetrieveDocument">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGARetrieveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAAddDocument">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAAddDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAUpdateDocument">
      <soap:operation soapAction="http://tempuri.org/Service1/ELGAUpdateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElgaDeprecateDocument">
      <soap:operation soapAction="http://tempuri.org/Service1/ElgaDeprecateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="genCDA">
      <soap:operation soapAction="http://tempuri.org/Service1/genCDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://tempuri.org/Service1/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DynReportsInitStructure">
      <soap:operation soapAction="http://tempuri.org/Service1/DynReportsInitStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getvKlientenliste">
      <soap:operation soapAction="http://tempuri.org/Service1/getvKlientenliste" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testPDFIum">
      <soap:operation soapAction="http://tempuri.org/Service1/testPDFIum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_Service1" type="tns:Service1">
    <wsp:PolicyReference URI="#NetTcpBinding_Service1_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="initService">
      <soap12:operation soapAction="http://tempuri.org/Service1/initService" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRep">
      <soap12:operation soapAction="http://tempuri.org/Service1/testRep" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendExceptionAsSMTPEMail">
      <soap12:operation soapAction="http://tempuri.org/Service1/sendExceptionAsSMTPEMail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getDataSerialized">
      <soap12:operation soapAction="http://tempuri.org/Service1/getDataSerialized" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastStammdaten">
      <soap12:operation soapAction="http://tempuri.org/Service1/getLastStammdaten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastBenutzer">
      <soap12:operation soapAction="http://tempuri.org/Service1/getLastBenutzer" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastPatienten">
      <soap12:operation soapAction="http://tempuri.org/Service1/getLastPatienten" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGALogInHCP">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGALogInHCP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGALogOut">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGALogOut" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryPatients">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAQueryPatients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAinsertPatient">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAinsertPatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAUpdatePatient">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAUpdatePatient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAAddContactAdmission">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAAddContactAdmission" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAInvalidateContact">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAInvalidateContact" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAAddContactDischarge">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAAddContactDischarge" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAListContacts">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAListContacts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryGDAs">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAQueryGDAs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAQueryDocuments">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAQueryDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGARetrieveDocument">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGARetrieveDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAAddDocument">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAAddDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ELGAUpdateDocument">
      <soap12:operation soapAction="http://tempuri.org/Service1/ELGAUpdateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ElgaDeprecateDocument">
      <soap12:operation soapAction="http://tempuri.org/Service1/ElgaDeprecateDocument" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="genCDA">
      <soap12:operation soapAction="http://tempuri.org/Service1/genCDA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap12:operation soapAction="http://tempuri.org/Service1/Export" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DynReportsInitStructure">
      <soap12:operation soapAction="http://tempuri.org/Service1/DynReportsInitStructure" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getvKlientenliste">
      <soap12:operation soapAction="http://tempuri.org/Service1/getvKlientenliste" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testPDFIum">
      <soap12:operation soapAction="http://tempuri.org/Service1/testPDFIum" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_Service1" binding="tns:BasicHttpBinding_Service1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServicePMDS/Service1/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_Service1" binding="tns:NetTcpBinding_Service1">
      <soap12:address location="net.tcp://localhost:8734/Design_Time_Addresses/WCFServicePMDS/Service1/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/Design_Time_Addresses/WCFServicePMDS/Service1/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>STYHL2\Lettn</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>