QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" />
  <xs:element name="initService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkVersion" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="VersionNrClient" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="clientVars" nillable="true" type="q2:ENVClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testRep">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testRepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="sendExceptionAsSMTPEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="except" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dAt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendExceptionAsSMTPEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendExceptionAsSMTPEMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSerialized">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSerializedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDataSerializedResult" nillable="true" type="q3:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastStammdaten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastStammdatenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastStammdatenResult" nillable="true" type="q4:StammdatenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastBenutzer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastBenutzerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastBenutzerResult" nillable="true" type="q5:ArrayOfBenutzerMainDTO.BenutzerDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastPatienten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastPatientenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastPatientenResult" nillable="true" type="q6:ArrayOfPatientMainDTO.PatientDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogInHCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="NameGDA" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Rolle" nillable="true" type="xs:string" />
        <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDKlinik" type="q7:guid" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q8:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogInHCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ELGALogInHCPResult" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q9:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q10:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ELGALogOutResult" type="xs:boolean" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q11:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryPatients">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q12:ELGAParInDto" />
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="TypeQueryPatients" type="q13:ELGABAL.eTypeQueryPatients" />
        <xs:element minOccurs="0" name="checkOneRowMustFound" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryPatientsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAQueryPatientsResult" nillable="true" type="q14:ELGAParOutDto" />
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q15:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAinsertPatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q16:ELGAParInDto" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="TypeUpdatePatients" type="q17:ELGABAL.eTypeUpdatePatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAinsertPatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAinsertPatientResult" nillable="true" type="q18:ELGAParOutDto" />
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q19:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdatePatient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q20:ELGAParInDto" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="TypeUpdatePatients" type="q21:ELGABAL.eTypeUpdatePatients" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdatePatientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAUpdatePatientResult" nillable="true" type="q22:ELGAParOutDto" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q23:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactAdmission">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q24:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactAdmissionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAAddContactAdmissionResult" nillable="true" type="q25:ELGAParOutDto" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q26:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAInvalidateContact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q27:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAInvalidateContactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAInvalidateContactResult" nillable="true" type="q28:ELGAParOutDto" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q29:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactDischarge">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q30:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddContactDischargeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAAddContactDischargeResult" nillable="true" type="q31:ELGAParOutDto" />
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q32:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAListContacts">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q33:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAListContactsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAListContactsResult" nillable="true" type="q34:ELGAParOutDto" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q35:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryGDAs">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q36:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryGDAsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAQueryGDAsResult" nillable="true" type="q37:ELGAParOutDto" />
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q38:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryDocuments">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q39:ELGAParInDto" />
        <xs:element minOccurs="0" name="OnlyOneDoc" type="xs:boolean" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAQueryDocumentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAQueryDocumentsResult" nillable="true" type="q40:ELGAParOutDto" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q41:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGARetrieveDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q42:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGARetrieveDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGARetrieveDocumentResult" nillable="true" type="q43:ELGAParOutDto" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q44:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q45:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAAddDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAAddDocumentResult" nillable="true" type="q46:ELGAParOutDto" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q47:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q48:ELGAParInDto" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGAUpdateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ELGAUpdateDocumentResult" nillable="true" type="q49:ELGAParOutDto" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q50:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElgaDeprecateDocument">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q51:ELGAParInDto" />
        <xs:element minOccurs="0" name="UniqueId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ElgaDeprecateDocumentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="ElgaDeprecateDocumentResult" nillable="true" type="q52:ELGAParOutDto" />
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="parsIn" nillable="true" type="q53:ELGAParInDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" minOccurs="0" name="vars" nillable="true" type="q54:CDA.CDAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" minOccurs="0" name="genCDAResult" nillable="true" type="q55:CDA.CDABack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDPatient" type="q56:guid" />
        <xs:element minOccurs="0" name="ArchivPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ArchivPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileNameXMLDocumentBack" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynReportsInitStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RootPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynReportsInitStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DynReportsInitStructureResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RootPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getvKlientenliste">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getvKlientenlisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getvKlientenlisteResult" nillable="true" type="q57:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testPDFIum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testPDFIumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>