QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="initService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="checkVersion" type="xs:boolean" />
        <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="VersionNrClient" type="q1:guid" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicePMDS" minOccurs="0" name="clientVars" nillable="true" type="q2:ENVClientDto" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="initServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendExceptionAsSMTPEMail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="except" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="client" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="dAt" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="sendExceptionAsSMTPEMailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sendExceptionAsSMTPEMailResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testRep">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testRepResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastStammdaten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastStammdatenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastStammdatenResult" nillable="true" type="q3:StammdatenDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastBenutzer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastBenutzerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastBenutzerResult" nillable="true" type="q4:ArrayOfBenutzerMainDTO.BenutzerDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastPatienten">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getLastPatientenResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" minOccurs="0" name="getLastPatientenResult" nillable="true" type="q5:ArrayOfPatientMainDTO.PatientDt" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogInHCP">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usr" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q6:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogInHCPResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ELGALogInHCPResult" type="xs:boolean" />
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q7:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogOut">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q8:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ELGALogOutResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ELGALogOutResult" type="xs:boolean" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" minOccurs="0" name="session" nillable="true" type="q9:ELGASessionDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCDA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" minOccurs="0" name="vars" nillable="true" type="q10:CDA.CDAIN" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="genCDAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" minOccurs="0" name="genCDAResult" nillable="true" type="q11:CDA.CDABack" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Export">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="IDPatient" type="q12:guid" />
        <xs:element minOccurs="0" name="ArchivPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IsTest" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExportResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExportResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="ArchivPath" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FileNameXMLDocumentBack" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynReportsInitStructure">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RootPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DynReportsInitStructureResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DynReportsInitStructureResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="RootPath" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="testPDFIum">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="testPDFIumResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSerialized">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getDataSerializedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getDataSerializedResult" nillable="true" type="q13:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getvKlientenliste">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="getvKlientenlisteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="getvKlientenlisteResult" nillable="true" type="q14:ArrayOfbase64Binary" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>