QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/System.Collections.Generic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfAbteilungDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q1:ArrayOfAbteilungDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfAbteilungDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfAuswahlListeGruppeDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q2:ArrayOfAuswahlListeGruppeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfAuswahlListeDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q3:ArrayOfAuswahlListeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfBereichDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q4:ArrayOfBereichDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfBereichDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfDBLizenzDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q5:ArrayOfDBLizenzDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfDBVersionDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q6:ArrayOfDBVersionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfDBVersionDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfDienstzeitenDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q7:ArrayOfDienstzeitenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfEinrichtungDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q8:ArrayOfEinrichtungDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfFormularDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q9:ArrayOfFormularDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfFormularDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfGruppeDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q10:ArrayOfGruppeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfGruppeDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfGruppenRechtDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q11:ArrayOfGruppenRechtDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfLayoutDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q12:ArrayOfLayoutDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfLayoutDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfLayoutGridsDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q13:ArrayOfLayoutGridsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfLinkDokumenteDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q14:ArrayOfLinkDokumenteDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfMassnahmenserienDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q15:ArrayOfMassnahmenserienDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfRessourcenDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q16:ArrayOfRessourcenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfRessourcenDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfStandardProzedurenDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q17:ArrayOfStandardProzedurenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfStandardzeitenDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q18:ArrayOfStandardzeitenDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfTextbausteineDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q19:ArrayOfTextbausteineDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfZeitbereichDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q20:ArrayOfZeitbereichDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfZeitbereichSerienDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q21:ArrayOfZeitbereichSerienDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOfarchOrdnerDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q22:ArrayOfarchOrdnerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblAutoDokuDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q23:ArrayOftblAutoDokuDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblInteropDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q24:ArrayOftblInteropDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblInteropDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblParameterDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q25:ArrayOftblParameterDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblParameterDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblPfadDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q26:ArrayOftblPfadDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblPfadDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblProvKonfigDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q27:ArrayOftblProvKonfigDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblQueriesDefDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q28:ArrayOftblQueriesDefDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblRechteOrdnerDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q29:ArrayOftblRechteOrdnerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblRedistDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q30:ArrayOftblRedistDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblRedistDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblSelListEntriesDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q31:ArrayOftblSelListEntriesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblSelListGroupDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q32:ArrayOftblSelListGroupDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblTextTemplatesDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q33:ArrayOftblTextTemplatesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblTextTemplatesFilesDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q34:ArrayOftblTextTemplatesFilesDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" />
  <xs:complexType name="ArrayOfKeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" type="tns:KeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" nillable="true" type="tns:ArrayOfKeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" />
  <xs:complexType name="KeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ArrayOftblUserAccountsDTO" Namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="key" type="xs:dateTime" />
      <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="value" nillable="true" type="q35:ArrayOftblUserAccountsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" nillable="true" type="tns:KeyValuePairOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" />
</xs:schema>