QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/WCFServicePMDS.BAL2.ELGABAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="ELGASessionDTO">
    <xs:sequence>
      <xs:element name="_x003C_ELGAStateID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Errors_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IDUser_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGASessionDTO" nillable="true" type="tns:ELGASessionDTO" />
  <xs:complexType name="ELGAParInDto">
    <xs:sequence>
      <xs:element name="_x003C_ContactID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DocumentAdd_x003E_k__BackingField" nillable="true" type="tns:DocumentAddDto" />
      <xs:element name="_x003C_IDDocuIntern_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_IDPatientIntern_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_LocalPatientID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_authUniversalID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_sDocumentsDto_x003E_k__BackingField" nillable="true" type="tns:DocumentSearchDto" />
      <xs:element name="_x003C_sObjectDto_x003E_k__BackingField" nillable="true" type="tns:ObjectDTO" />
      <xs:element name="_x003C_session_x003E_k__BackingField" nillable="true" type="tns:ELGASessionDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGAParInDto" nillable="true" type="tns:ELGAParInDto" />
  <xs:complexType name="DocumentAddDto">
    <xs:sequence>
      <xs:element name="_x003C_Author_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ClinicalDocumentSetID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Documentname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IDCDA_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_KlinikName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_KlinikOID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Person_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_bDocument_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentAddDto" nillable="true" type="tns:DocumentAddDto" />
  <xs:complexType name="DocumentSearchDto">
    <xs:sequence>
      <xs:element name="_x003C_Author_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CreatedFrom_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_CreatedTo_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_DocumentStatus_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Documentname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UniqueID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DocumentSearchDto" nillable="true" type="tns:DocumentSearchDto" />
  <xs:complexType name="ObjectDTO">
    <xs:sequence>
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IDELgaGda_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_NachNameFirma_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_SozVersNrLocalPatID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StreetNr_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Tel_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Title_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Vorname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Zip_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_birthdate_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_isOrganisation_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_lAdresses_x003E_k__BackingField" nillable="true" type="tns:ArrayOfAdressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ObjectDTO" nillable="true" type="tns:ObjectDTO" />
  <xs:complexType name="ArrayOfAdressDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AdressDto" nillable="true" type="tns:AdressDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdressDto" nillable="true" type="tns:ArrayOfAdressDto" />
  <xs:complexType name="AdressDto">
    <xs:sequence>
      <xs:element name="_x003C_City_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_State_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Status_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_StreetNr_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Street_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Tel_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Zip_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AdressDto" nillable="true" type="tns:AdressDto" />
  <xs:complexType name="ELGAParOutDto">
    <xs:sequence>
      <xs:element name="_x003C_ContactExists_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_ContactID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DocuUniqueId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Errors_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_MessageExceptionNr_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_MessageException_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_bErrorsFound_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_bOK_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_iRowsFound_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_lContacts_x003E_k__BackingField" nillable="true" type="tns:ArrayOfELGAContactsDto" />
      <xs:element name="_x003C_lDocuments_x003E_k__BackingField" nillable="true" type="tns:ArrayOfELGADocumentsDTO" />
      <xs:element name="_x003C_lGDAs_x003E_k__BackingField" nillable="true" type="tns:ArrayOfObjectDTO" />
      <xs:element name="_x003C_lPatients_x003E_k__BackingField" nillable="true" type="tns:ArrayOfELGAPatientDTO" />
      <xs:element name="_x003C_lstErrors_x003E_k__BackingField" nillable="true" type="tns:ArrayOfELGAErrorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGAParOutDto" nillable="true" type="tns:ELGAParOutDto" />
  <xs:complexType name="ArrayOfELGAContactsDto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ELGAContactsDto" nillable="true" type="tns:ELGAContactsDto" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfELGAContactsDto" nillable="true" type="tns:ArrayOfELGAContactsDto" />
  <xs:complexType name="ELGAContactsDto">
    <xs:sequence>
      <xs:element name="_x003C_IDElga_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PatientID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_creationDate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_status_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_type_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGAContactsDto" nillable="true" type="tns:ELGAContactsDto" />
  <xs:complexType name="ArrayOfELGADocumentsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ELGADocumentsDTO" nillable="true" type="tns:ELGADocumentsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfELGADocumentsDTO" nillable="true" type="tns:ArrayOfELGADocumentsDTO" />
  <xs:complexType name="ELGADocumentsDTO">
    <xs:sequence>
      <xs:element name="_x003C_Author_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_CreationTime_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Description_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_DocStatus_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Documentname_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_LogicalId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" name="_x003C_ReferenceIdList_x003E_k__BackingField" nillable="true" type="q1:ArrayOfstring" />
      <xs:element name="_x003C_Size_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TypeFile_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UUID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_UniqueId_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Version_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_bdocument_x003E_k__BackingField" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGADocumentsDTO" nillable="true" type="tns:ELGADocumentsDTO" />
  <xs:complexType name="ArrayOfObjectDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ObjectDTO" nillable="true" type="tns:ObjectDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfObjectDTO" nillable="true" type="tns:ArrayOfObjectDTO" />
  <xs:complexType name="ArrayOfELGAPatientDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ELGAPatientDTO" nillable="true" type="tns:ELGAPatientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfELGAPatientDTO" nillable="true" type="tns:ArrayOfELGAPatientDTO" />
  <xs:complexType name="ELGAPatientDTO">
    <xs:sequence>
      <xs:element name="_x003C_ELGADocuments_x003E_k__BackingField" nillable="true" type="tns:ArrayOfELGADocumentsDTO" />
      <xs:element name="_x003C_ELGAPids_x003E_k__BackingField" nillable="true" type="tns:ArrayOfELGAPidsDTO" />
      <xs:element name="_x003C_IDPatientDB_x003E_k__BackingField" nillable="true" type="ser:guid" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_birthdate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_businessPhone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_citizenship_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_city_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_deathdate_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_degree_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_emailBusiness_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_emailHome_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ethnicGroup_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_familyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_givenName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_homePhone_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_lastUpdtateTimeSpecified_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_lastUpdtateTime_x003E_k__BackingField" nillable="true" type="xs:dateTime" />
      <xs:element name="_x003C_maritalStatus_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_middleName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nameTypeCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_nationality_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_secondFamilyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_secondGivenName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_secondMiddleName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_sex_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_state_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_streetAddress_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_zip_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGAPatientDTO" nillable="true" type="tns:ELGAPatientDTO" />
  <xs:complexType name="ArrayOfELGAPidsDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ELGAPidsDTO" nillable="true" type="tns:ELGAPidsDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfELGAPidsDTO" nillable="true" type="tns:ArrayOfELGAPidsDTO" />
  <xs:complexType name="ELGAPidsDTO">
    <xs:sequence>
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_authUniversalID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ehrPIDType_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_patientIDType_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_patientID_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGAPidsDTO" nillable="true" type="tns:ELGAPidsDTO" />
  <xs:complexType name="ArrayOfELGAErrorDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ELGAErrorDTO" nillable="true" type="tns:ELGAErrorDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfELGAErrorDTO" nillable="true" type="tns:ArrayOfELGAErrorDTO" />
  <xs:complexType name="ELGAErrorDTO">
    <xs:sequence>
      <xs:element name="_x003C_classCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_code_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_errTxt_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_location_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_moodCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_queryResponseCode_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_typeCode_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGAErrorDTO" nillable="true" type="tns:ELGAErrorDTO" />
</xs:schema>