QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/WCFServicePMDS.BAL.Main.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
  <xs:complexType name="StammdatenDTO">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lAbteilung" nillable="true" type="q1:ArrayOfKeyValueOfdateTimeArrayOfAbteilungDTOyE8ceCq1" />
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lAuswahlListeGruppe" nillable="true" type="q2:ArrayOfKeyValueOfdateTimeArrayOfAuswahlListeGruppeDTOyE8ceCq1" />
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lAuswahlliste" nillable="true" type="q3:ArrayOfKeyValueOfdateTimeArrayOfAuswahlListeDTOyE8ceCq1" />
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lBereichDTO" nillable="true" type="q4:ArrayOfKeyValueOfdateTimeArrayOfBereichDTOyE8ceCq1" />
      <xs:element xmlns:q5="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lDBLizenzDTO" nillable="true" type="q5:ArrayOfKeyValueOfdateTimeArrayOfDBLizenzDTOyE8ceCq1" />
      <xs:element xmlns:q6="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lDBVersion" nillable="true" type="q6:ArrayOfKeyValueOfdateTimeArrayOfDBVersionDTOyE8ceCq1" />
      <xs:element xmlns:q7="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lDienstzeiten" nillable="true" type="q7:ArrayOfKeyValueOfdateTimeArrayOfDienstzeitenDTOyE8ceCq1" />
      <xs:element xmlns:q8="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lEinrichtung" nillable="true" type="q8:ArrayOfKeyValueOfdateTimeArrayOfEinrichtungDTOyE8ceCq1" />
      <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lFormular" nillable="true" type="q9:ArrayOfKeyValueOfdateTimeArrayOfFormularDTOyE8ceCq1" />
      <xs:element xmlns:q10="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lGruppe" nillable="true" type="q10:ArrayOfKeyValueOfdateTimeArrayOfGruppeDTOyE8ceCq1" />
      <xs:element xmlns:q11="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lGruppenRecht" nillable="true" type="q11:ArrayOfKeyValueOfdateTimeArrayOfGruppenRechtDTOyE8ceCq1" />
      <xs:element xmlns:q12="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lLayout" nillable="true" type="q12:ArrayOfKeyValueOfdateTimeArrayOfLayoutDTOyE8ceCq1" />
      <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lLayoutGrids" nillable="true" type="q13:ArrayOfKeyValueOfdateTimeArrayOfLayoutGridsDTOyE8ceCq1" />
      <xs:element xmlns:q14="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lLinkDokumente" nillable="true" type="q14:ArrayOfKeyValueOfdateTimeArrayOfLinkDokumenteDTOyE8ceCq1" />
      <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lMassnahmenserien" nillable="true" type="q15:ArrayOfKeyValueOfdateTimeArrayOfMassnahmenserienDTOyE8ceCq1" />
      <xs:element xmlns:q16="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lRessourcenDTO" nillable="true" type="q16:ArrayOfKeyValueOfdateTimeArrayOfRessourcenDTOyE8ceCq1" />
      <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lStandardProzeduren" nillable="true" type="q17:ArrayOfKeyValueOfdateTimeArrayOfStandardProzedurenDTOyE8ceCq1" />
      <xs:element xmlns:q18="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lStandardzeiten" nillable="true" type="q18:ArrayOfKeyValueOfdateTimeArrayOfStandardzeitenDTOyE8ceCq1" />
      <xs:element xmlns:q19="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lTextbausteine" nillable="true" type="q19:ArrayOfKeyValueOfdateTimeArrayOfTextbausteineDTOyE8ceCq1" />
      <xs:element xmlns:q20="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lZeitbereich" nillable="true" type="q20:ArrayOfKeyValueOfdateTimeArrayOfZeitbereichDTOyE8ceCq1" />
      <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="lZeitbereichSerien" nillable="true" type="q21:ArrayOfKeyValueOfdateTimeArrayOfZeitbereichSerienDTOyE8ceCq1" />
      <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="larchOrdner" nillable="true" type="q22:ArrayOfKeyValueOfdateTimeArrayOfarchOrdnerDTOyE8ceCq1" />
      <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblAutoDoku" nillable="true" type="q23:ArrayOfKeyValueOfdateTimeArrayOftblAutoDokuDTOyE8ceCq1" />
      <xs:element xmlns:q24="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblInterop" nillable="true" type="q24:ArrayOfKeyValueOfdateTimeArrayOftblInteropDTOyE8ceCq1" />
      <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblParameter" nillable="true" type="q25:ArrayOfKeyValueOfdateTimeArrayOftblParameterDTOyE8ceCq1" />
      <xs:element xmlns:q26="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblPfad" nillable="true" type="q26:ArrayOfKeyValueOfdateTimeArrayOftblPfadDTOyE8ceCq1" />
      <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblProvKonfig" nillable="true" type="q27:ArrayOfKeyValueOfdateTimeArrayOftblProvKonfigDTOyE8ceCq1" />
      <xs:element xmlns:q28="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblQueriesDef" nillable="true" type="q28:ArrayOfKeyValueOfdateTimeArrayOftblQueriesDefDTOyE8ceCq1" />
      <xs:element xmlns:q29="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblRechteOrdner" nillable="true" type="q29:ArrayOfKeyValueOfdateTimeArrayOftblRechteOrdnerDTOyE8ceCq1" />
      <xs:element xmlns:q30="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblRedis" nillable="true" type="q30:ArrayOfKeyValueOfdateTimeArrayOftblRedistDTOyE8ceCq1" />
      <xs:element xmlns:q31="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblSelListEntries" nillable="true" type="q31:ArrayOfKeyValueOfdateTimeArrayOftblSelListEntriesDTOyE8ceCq1" />
      <xs:element xmlns:q32="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblSelListGroup" nillable="true" type="q32:ArrayOfKeyValueOfdateTimeArrayOftblSelListGroupDTOyE8ceCq1" />
      <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblTextTemplates" nillable="true" type="q33:ArrayOfKeyValueOfdateTimeArrayOftblTextTemplatesDTOyE8ceCq1" />
      <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblTextTemplatesFiles" nillable="true" type="q34:ArrayOfKeyValueOfdateTimeArrayOftblTextTemplatesFilesDTOyE8ceCq1" />
      <xs:element xmlns:q35="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ltblUserAccounts" nillable="true" type="q35:ArrayOfKeyValueOfdateTimeArrayOftblUserAccountsDTOyE8ceCq1" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StammdatenDTO" nillable="true" type="tns:StammdatenDTO" />
  <xs:complexType name="ArrayOfBenutzerMainDTO.BenutzerDt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenutzerMainDTO.BenutzerDt" nillable="true" type="tns:BenutzerMainDTO.BenutzerDt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenutzerMainDTO.BenutzerDt" nillable="true" type="tns:ArrayOfBenutzerMainDTO.BenutzerDt" />
  <xs:complexType name="BenutzerMainDTO.BenutzerDt">
    <xs:sequence>
      <xs:element name="IDBenutzer" type="ser:guid" />
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="adresse" nillable="true" type="q36:AdresseDTO" />
      <xs:element name="aerzt" nillable="true" type="tns:BenutzerMainDTO.AerztDt" />
      <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="ben" nillable="true" type="q37:BenutzerDTO" />
      <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="kontakt" nillable="true" type="q38:KontaktDTO" />
      <xs:element name="lAbteilung" nillable="true" type="tns:ArrayOfBenutzerMainDTO.AbteilungDt" />
      <xs:element name="lBereich" nillable="true" type="tns:ArrayOfBenutzerMainDTO.BereichDt" />
      <xs:element name="lKlinik" nillable="true" type="tns:ArrayOfBenutzerMainDTO.KlinikDt" />
      <xs:element name="recht" nillable="true" type="tns:BenutzerMainDTO.RechtDt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenutzerMainDTO.BenutzerDt" nillable="true" type="tns:BenutzerMainDTO.BenutzerDt" />
  <xs:complexType name="BenutzerMainDTO.AerztDt">
    <xs:sequence>
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="adresse" nillable="true" type="q39:AdresseDTO" />
      <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="aerzt" nillable="true" type="q40:AerzteDTO" />
      <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="kontakt" nillable="true" type="q41:KontaktDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenutzerMainDTO.AerztDt" nillable="true" type="tns:BenutzerMainDTO.AerztDt" />
  <xs:complexType name="ArrayOfBenutzerMainDTO.AbteilungDt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenutzerMainDTO.AbteilungDt" nillable="true" type="tns:BenutzerMainDTO.AbteilungDt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenutzerMainDTO.AbteilungDt" nillable="true" type="tns:ArrayOfBenutzerMainDTO.AbteilungDt" />
  <xs:complexType name="BenutzerMainDTO.AbteilungDt">
    <xs:sequence>
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="abteilung" nillable="true" type="q42:AbteilungDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenutzerMainDTO.AbteilungDt" nillable="true" type="tns:BenutzerMainDTO.AbteilungDt" />
  <xs:complexType name="ArrayOfBenutzerMainDTO.BereichDt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenutzerMainDTO.BereichDt" nillable="true" type="tns:BenutzerMainDTO.BereichDt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenutzerMainDTO.BereichDt" nillable="true" type="tns:ArrayOfBenutzerMainDTO.BereichDt" />
  <xs:complexType name="BenutzerMainDTO.BereichDt">
    <xs:sequence>
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="abteilung2" nillable="true" type="q43:AbteilungDTO" />
      <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="bereich2" nillable="true" type="q44:BereichDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenutzerMainDTO.BereichDt" nillable="true" type="tns:BenutzerMainDTO.BereichDt" />
  <xs:complexType name="ArrayOfBenutzerMainDTO.KlinikDt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BenutzerMainDTO.KlinikDt" nillable="true" type="tns:BenutzerMainDTO.KlinikDt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBenutzerMainDTO.KlinikDt" nillable="true" type="tns:ArrayOfBenutzerMainDTO.KlinikDt" />
  <xs:complexType name="BenutzerMainDTO.KlinikDt">
    <xs:sequence>
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="klinik" nillable="true" type="q45:KlinikDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenutzerMainDTO.KlinikDt" nillable="true" type="tns:BenutzerMainDTO.KlinikDt" />
  <xs:complexType name="BenutzerMainDTO.RechtDt">
    <xs:sequence>
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="benutzerRechte" nillable="true" type="q46:ArrayOfBenutzerRechteDTO" />
      <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="recht" nillable="true" type="q47:ArrayOfRechtDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BenutzerMainDTO.RechtDt" nillable="true" type="tns:BenutzerMainDTO.RechtDt" />
  <xs:complexType name="ArrayOfPatientMainDTO.PatientDt">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PatientMainDTO.PatientDt" nillable="true" type="tns:PatientMainDTO.PatientDt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPatientMainDTO.PatientDt" nillable="true" type="tns:ArrayOfPatientMainDTO.PatientDt" />
  <xs:complexType name="PatientMainDTO.PatientDt">
    <xs:sequence>
      <xs:element name="IDPatient" type="ser:guid" />
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="adresse" nillable="true" type="q48:AdresseDTO" />
      <xs:element name="aufenthaltAct" nillable="true" type="tns:PatientMainDTO.AufenthaltDt" />
      <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="kontakt" nillable="true" type="q49:KontaktDTO" />
      <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="patient" nillable="true" type="q50:PatientDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMainDTO.PatientDt" nillable="true" type="tns:PatientMainDTO.PatientDt" />
  <xs:complexType name="PatientMainDTO.AufenthaltDt">
    <xs:sequence>
      <xs:element name="Urlaub" type="xs:boolean" />
      <xs:element name="_x003C_DtoFrom_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="aufenthalt" nillable="true" type="q51:AufenthaltDTO" />
      <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" name="urlaubVerlauf" nillable="true" type="q52:UrlaubVerlaufDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PatientMainDTO.AufenthaltDt" nillable="true" type="tns:PatientMainDTO.AufenthaltDt" />
</xs:schema>