QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/WCFServicePMDS.BAL2.ELGABAL.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL2.ELGABAL" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ELGASessionDTO">
    <xs:sequence>
      <xs:element name="_x003C_ELGAStateID_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IDUser_x003E_k__BackingField" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ELGASessionDTO" nillable="true" type="tns:ELGASessionDTO" />
</xs:schema>