QS2.Desktop.Ressources.Auto10/Connected Services/ServiceReference_01/WCFServicePMDS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServicePMDS" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ENVClientDto">
    <xs:sequence>
      <xs:element name="_x003C_ConfigFilePMDS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_ConfigPathPMDS_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Db_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_IDClient_x003E_k__BackingField" type="ser:guid" />
      <xs:element name="_x003C_Pwd_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Srv_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Usr_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_trusted_x003E_k__BackingField" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ENVClientDto" nillable="true" type="tns:ENVClientDto" />
  <xs:simpleType name="ELGABAL.eTypeQueryPatients">
    <xs:restriction base="xs:string">
      <xs:enumeration value="SozVersNr" />
      <xs:enumeration value="LocalID" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ELGABAL.eTypeQueryPatients" nillable="true" type="tns:ELGABAL.eTypeQueryPatients" />
  <xs:simpleType name="ELGABAL.eTypeUpdatePatients">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CreateLocalPatientID" />
      <xs:enumeration value="UpdatePatientData" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ELGABAL.eTypeUpdatePatients" nillable="true" type="tns:ELGABAL.eTypeUpdatePatients" />
</xs:schema>