QS2.VB.Core/Service References/KAV_PatAuskunft/kav.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:s0="http://www.wienkav.at/kav/kav.datagate/PatAuskunft" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" targetNamespace="http://www.wienkav.at/kav/kav.datagate/PatAuskunft" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.wienkav.at/kav/kav.datagate/PatAuskunft">
      <s:element name="GetAIDKette">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCallerInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAIDKetteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAIDKetteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCallerInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPatientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPatientResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBewegung">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCallerInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBewegungResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBewegungResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVoraufenthaltKette">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCallerInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="XML" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVoraufenthaltKetteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVoraufenthaltKetteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="XMLCallerInfo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Result" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Resultfilter" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID1" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID2" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID3" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID4" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ID5" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Part" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetVersionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetVersionResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserRights">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ResetUserRightsResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </types>
  <message name="GetAIDKetteSoapIn">
    <part name="parameters" element="s0:GetAIDKette" />
  </message>
  <message name="GetAIDKetteSoapOut">
    <part name="parameters" element="s0:GetAIDKetteResponse" />
  </message>
  <message name="GetPatientSoapIn">
    <part name="parameters" element="s0:GetPatient" />
  </message>
  <message name="GetPatientSoapOut">
    <part name="parameters" element="s0:GetPatientResponse" />
  </message>
  <message name="GetBewegungSoapIn">
    <part name="parameters" element="s0:GetBewegung" />
  </message>
  <message name="GetBewegungSoapOut">
    <part name="parameters" element="s0:GetBewegungResponse" />
  </message>
  <message name="GetVoraufenthaltKetteSoapIn">
    <part name="parameters" element="s0:GetVoraufenthaltKette" />
  </message>
  <message name="GetVoraufenthaltKetteSoapOut">
    <part name="parameters" element="s0:GetVoraufenthaltKetteResponse" />
  </message>
  <message name="GetDataSoapIn">
    <part name="parameters" element="s0:GetData" />
  </message>
  <message name="GetDataSoapOut">
    <part name="parameters" element="s0:GetDataResponse" />
  </message>
  <message name="GetVersionSoapIn">
    <part name="parameters" element="s0:GetVersion" />
  </message>
  <message name="GetVersionSoapOut">
    <part name="parameters" element="s0:GetVersionResponse" />
  </message>
  <message name="ResetUserRightsSoapIn">
    <part name="parameters" element="s0:ResetUserRights" />
  </message>
  <message name="ResetUserRightsSoapOut">
    <part name="parameters" element="s0:ResetUserRightsResponse" />
  </message>
  <portType name="PatAuskunftSoap">
    <operation name="GetAIDKette">
      <input message="s0:GetAIDKetteSoapIn" />
      <output message="s0:GetAIDKetteSoapOut" />
    </operation>
    <operation name="GetPatient">
      <input message="s0:GetPatientSoapIn" />
      <output message="s0:GetPatientSoapOut" />
    </operation>
    <operation name="GetBewegung">
      <input message="s0:GetBewegungSoapIn" />
      <output message="s0:GetBewegungSoapOut" />
    </operation>
    <operation name="GetVoraufenthaltKette">
      <input message="s0:GetVoraufenthaltKetteSoapIn" />
      <output message="s0:GetVoraufenthaltKetteSoapOut" />
    </operation>
    <operation name="GetData">
      <input message="s0:GetDataSoapIn" />
      <output message="s0:GetDataSoapOut" />
    </operation>
    <operation name="GetVersion">
      <input message="s0:GetVersionSoapIn" />
      <output message="s0:GetVersionSoapOut" />
    </operation>
    <operation name="ResetUserRights">
      <input message="s0:ResetUserRightsSoapIn" />
      <output message="s0:ResetUserRightsSoapOut" />
    </operation>
  </portType>
  <binding name="PatAuskunftSoap" type="s0:PatAuskunftSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="GetAIDKette">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/GetAIDKette" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetPatient">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/GetPatient" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetBewegung">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/GetBewegung" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetVoraufenthaltKette">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/GetVoraufenthaltKette" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetData">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/GetData" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="GetVersion">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/GetVersion" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="ResetUserRights">
      <soap:operation soapAction="http://www.wienkav.at/kav/kav.datagate/PatAuskunft/ResetUserRights" style="document" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="PatAuskunft">
    <port name="PatAuskunftSoap" binding="s0:PatAuskunftSoap">
      <soap:address location="http://bum001.wienkav.at/PatAuskunft/PatAuskunft.asmx" />
    </port>
  </service>
</definitions>