QS2.VB.Core/Service References/QS2Service1/QS2Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.microsoft.com/2003/10/Serialization/Arrays" elementFormDefault="qualified" targetNamespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/servQS2.core" />
  <xs:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValueOfstringcUpdateData.cColumnsTransferNotOKsjiyB_PbD">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfstringcUpdateData.cColumnsTransferNotOKsjiyB_PbD">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" nillable="true" type="xs:string" />
            <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/servQS2.core" name="Value" nillable="true" type="q1:cUpdateData.cColumnsTransferNotOK" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfstringcUpdateData.cColumnsTransferNotOKsjiyB_PbD" nillable="true" type="tns:ArrayOfKeyValueOfstringcUpdateData.cColumnsTransferNotOKsjiyB_PbD" />
  <xs:complexType name="ArrayOfKeyValueOfguidcServiceResult.cColumnsStayBPKZwtv2BdzT">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidcServiceResult.cColumnsStayBPKZwtv2BdzT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/servQS2.core" name="Value" nillable="true" type="q2:cServiceResult.cColumnsStayBPKZ" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidcServiceResult.cColumnsStayBPKZwtv2BdzT" nillable="true" type="tns:ArrayOfKeyValueOfguidcServiceResult.cColumnsStayBPKZwtv2BdzT" />
  <xs:complexType name="ArrayOfKeyValueOfguidcServiceResult12.cColumnsStayTransfer2wtv2BdzT">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidcServiceResult12.cColumnsStayTransfer2wtv2BdzT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/servQS2.core" name="Value" nillable="true" type="q3:cServiceResult12.cColumnsStayTransfer2" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidcServiceResult12.cColumnsStayTransfer2wtv2BdzT" nillable="true" type="tns:ArrayOfKeyValueOfguidcServiceResult12.cColumnsStayTransfer2wtv2BdzT" />
  <xs:complexType name="ArrayOfKeyValueOfguidcServiceResult.cColumnsStayTransferwtv2BdzT">
    <xs:annotation>
      <xs:appinfo>
        <IsDictionary xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsDictionary>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValueOfguidcServiceResult.cColumnsStayTransferwtv2BdzT">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Key" type="ser:guid" />
            <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/servQS2.core" name="Value" nillable="true" type="q4:cServiceResult.cColumnsStayTransfer" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValueOfguidcServiceResult.cColumnsStayTransferwtv2BdzT" nillable="true" type="tns:ArrayOfKeyValueOfguidcServiceResult.cColumnsStayTransferwtv2BdzT" />
</xs:schema>