QS2.VB.Core/Service References/QS2Service1/QS2Service4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/servQS2.core" />
  <xs:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQS2Service">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q3:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckQS2ServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="CheckQS2ServiceResult" nillable="true" type="q4:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStay">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q5:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStayResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="SendStayResult" nillable="true" type="q6:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStay2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q7:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendStay2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="SendStay2Result" nillable="true" type="q8:cServiceResult12" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaysIncorrectlyTransfered">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q9:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStaysIncorrectlyTransferedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="getStaysIncorrectlyTransferedResult" nillable="true" type="q10:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBPKZWrong">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q11:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getBPKZWrongResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="getBPKZWrongResult" nillable="true" type="q12:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStaySetBPKZFinishedClient">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="StayIDGuid" type="q13:guid" />
        <xs:element minOccurs="0" name="bValue" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="updateStaySetBPKZFinishedClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="updateStaySetBPKZFinishedClientResult" nillable="true" type="q14:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommand">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q15:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteCommandResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ExecuteCommandResult" nillable="true" type="q16:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doDeathStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q17:cServiceInput2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="doDeathStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="doDeathStatusResult" nillable="true" type="q18:cServiceInput2" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bInp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestServiceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestServiceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q19:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="TestService2Result" nillable="true" type="q20:cServiceResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="ServiceInput" nillable="true" type="q21:cServiceInput" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestService3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/servQS2.core" minOccurs="0" name="TestService3Result" nillable="true" type="q22:cServiceResult12" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>