QS2.VB.Core/Service References/QS2Service1/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/servQS2.core" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd5" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd6" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost/QS2Service/QS2Service.svc?xsd=xsd7" namespace="http://tempuri.org/dsService.xsd" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CheckQS2Service_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckQS2Service" />
  </wsdl:message>
  <wsdl:message name="IService_CheckQS2Service_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckQS2ServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendStay_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStay" />
  </wsdl:message>
  <wsdl:message name="IService_SendStay_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStayResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendStay2_InputMessage">
    <wsdl:part name="parameters" element="tns:SendStay2" />
  </wsdl:message>
  <wsdl:message name="IService_SendStay2_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendStay2Response" />
  </wsdl:message>
  <wsdl:message name="IService_getStaysIncorrectlyTransfered_InputMessage">
    <wsdl:part name="parameters" element="tns:getStaysIncorrectlyTransfered" />
  </wsdl:message>
  <wsdl:message name="IService_getStaysIncorrectlyTransfered_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStaysIncorrectlyTransferedResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getBPKZWrong_InputMessage">
    <wsdl:part name="parameters" element="tns:getBPKZWrong" />
  </wsdl:message>
  <wsdl:message name="IService_getBPKZWrong_OutputMessage">
    <wsdl:part name="parameters" element="tns:getBPKZWrongResponse" />
  </wsdl:message>
  <wsdl:message name="IService_updateStaySetBPKZFinishedClient_InputMessage">
    <wsdl:part name="parameters" element="tns:updateStaySetBPKZFinishedClient" />
  </wsdl:message>
  <wsdl:message name="IService_updateStaySetBPKZFinishedClient_OutputMessage">
    <wsdl:part name="parameters" element="tns:updateStaySetBPKZFinishedClientResponse" />
  </wsdl:message>
  <wsdl:message name="IService_ExecuteCommand_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommand" />
  </wsdl:message>
  <wsdl:message name="IService_ExecuteCommand_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteCommandResponse" />
  </wsdl:message>
  <wsdl:message name="IService_doDeathStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:doDeathStatus" />
  </wsdl:message>
  <wsdl:message name="IService_doDeathStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:doDeathStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TestService_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService" />
  </wsdl:message>
  <wsdl:message name="IService_TestService_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService_TestService2_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService2" />
  </wsdl:message>
  <wsdl:message name="IService_TestService2_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestService2Response" />
  </wsdl:message>
  <wsdl:message name="IService_TestService3_InputMessage">
    <wsdl:part name="parameters" element="tns:TestService3" />
  </wsdl:message>
  <wsdl:message name="IService_TestService3_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestService3Response" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetData" message="tns:IService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataResponse" message="tns:IService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContract" message="tns:IService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetDataUsingDataContractResponse" message="tns:IService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckQS2Service">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CheckQS2Service" message="tns:IService_CheckQS2Service_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CheckQS2ServiceResponse" message="tns:IService_CheckQS2Service_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStay">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendStay" message="tns:IService_SendStay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendStayResponse" message="tns:IService_SendStay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendStay2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendStay2" message="tns:IService_SendStay2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendStay2Response" message="tns:IService_SendStay2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStaysIncorrectlyTransfered">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStaysIncorrectlyTransfered" message="tns:IService_getStaysIncorrectlyTransfered_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStaysIncorrectlyTransferedResponse" message="tns:IService_getStaysIncorrectlyTransfered_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getBPKZWrong">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getBPKZWrong" message="tns:IService_getBPKZWrong_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getBPKZWrongResponse" message="tns:IService_getBPKZWrong_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="updateStaySetBPKZFinishedClient">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/updateStaySetBPKZFinishedClient" message="tns:IService_updateStaySetBPKZFinishedClient_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/updateStaySetBPKZFinishedClientResponse" message="tns:IService_updateStaySetBPKZFinishedClient_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ExecuteCommand" message="tns:IService_ExecuteCommand_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ExecuteCommandResponse" message="tns:IService_ExecuteCommand_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="doDeathStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/doDeathStatus" message="tns:IService_doDeathStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/doDeathStatusResponse" message="tns:IService_doDeathStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TestService" message="tns:IService_TestService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TestServiceResponse" message="tns:IService_TestService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestService2">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TestService2" message="tns:IService_TestService2_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TestService2Response" message="tns:IService_TestService2_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="TestService3">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/TestService3" message="tns:IService_TestService3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/TestService3Response" message="tns:IService_TestService3_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckQS2Service">
      <soap:operation soapAction="http://tempuri.org/IService/CheckQS2Service" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStay">
      <soap:operation soapAction="http://tempuri.org/IService/SendStay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendStay2">
      <soap:operation soapAction="http://tempuri.org/IService/SendStay2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStaysIncorrectlyTransfered">
      <soap:operation soapAction="http://tempuri.org/IService/getStaysIncorrectlyTransfered" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getBPKZWrong">
      <soap:operation soapAction="http://tempuri.org/IService/getBPKZWrong" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateStaySetBPKZFinishedClient">
      <soap:operation soapAction="http://tempuri.org/IService/updateStaySetBPKZFinishedClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExecuteCommand">
      <soap:operation soapAction="http://tempuri.org/IService/ExecuteCommand" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="doDeathStatus">
      <soap:operation soapAction="http://tempuri.org/IService/doDeathStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService">
      <soap:operation soapAction="http://tempuri.org/IService/TestService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService2">
      <soap:operation soapAction="http://tempuri.org/IService/TestService2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestService3">
      <soap:operation soapAction="http://tempuri.org/IService/TestService3" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/QS2Service/QS2Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>