PMDS.Global/Web References/BIDS_EDIService/BIDS_EDIService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SubmitReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitReportResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitBetriebsstelleReport">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlDoc">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="betriebsStelleKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SubmitBetriebsstelleReportResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SubmitBetriebsstelleReportResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SubmitReportSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitReport" />
  </wsdl:message>
  <wsdl:message name="SubmitReportSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitReportResponse" />
  </wsdl:message>
  <wsdl:message name="SubmitBetriebsstelleReportSoapIn">
    <wsdl:part name="parameters" element="tns:SubmitBetriebsstelleReport" />
  </wsdl:message>
  <wsdl:message name="SubmitBetriebsstelleReportSoapOut">
    <wsdl:part name="parameters" element="tns:SubmitBetriebsstelleReportResponse" />
  </wsdl:message>
  <wsdl:portType name="BIDS_EDI_ServiceSoap">
    <wsdl:operation name="SubmitReport">
      <wsdl:input message="tns:SubmitReportSoapIn" />
      <wsdl:output message="tns:SubmitReportSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SubmitBetriebsstelleReport">
      <wsdl:input message="tns:SubmitBetriebsstelleReportSoapIn" />
      <wsdl:output message="tns:SubmitBetriebsstelleReportSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BIDS_EDI_ServiceSoap" type="tns:BIDS_EDI_ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitReport">
      <soap:operation soapAction="http://tempuri.org/SubmitReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBetriebsstelleReport">
      <soap:operation soapAction="http://tempuri.org/SubmitBetriebsstelleReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BIDS_EDI_ServiceSoap12" type="tns:BIDS_EDI_ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SubmitReport">
      <soap12:operation soapAction="http://tempuri.org/SubmitReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SubmitBetriebsstelleReport">
      <soap12:operation soapAction="http://tempuri.org/SubmitBetriebsstelleReport" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BIDS_EDI_Service">
    <wsdl:port name="BIDS_EDI_ServiceSoap" binding="tns:BIDS_EDI_ServiceSoap">
      <soap:address location="https://195.64.10.25/BIDS_EDIService.asmx" />
    </wsdl:port>
    <wsdl:port name="BIDS_EDI_ServiceSoap12" binding="tns:BIDS_EDI_ServiceSoap12">
      <soap12:address location="https://195.64.10.25/BIDS_EDIService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>