QS2.VB.Core/Service References/AKH_CDA_Service/ZWS_S_CDA_HEADER_B64_SA.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="urn:sap-com:document:sap:rfc:functions" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" targetNamespace="urn:sap-com:document:sap:rfc:functions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl" />
  </wsdl:documentation>
  <wsp:UsingPolicy wsdl:required="true" />
  <wsp:Policy wsu:Id="BN_BN_ZWS_S_CDA_HEADER">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="BN_BN_ZWS_S_CDA_HEADER_SOAP12">
    <saptrnbnd:OptimizedXMLTransfer uri="http://xml.sap.com/2006/11/esi/esp/binxml" xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" wsp:Optional="true" />
    <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true" />
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <wsp:ExactlyOne xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken>
                  <wsp:Policy>
                    <sp:HttpBasicAuthentication />
                  </wsp:Policy>
                </sp:HttpsToken>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128Rsa15 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true" />
  </wsp:Policy>
  <wsp:Policy wsu:Id="IF_IF_zws_s_cda_header">
    <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
      <sapsession:enableSession>false</sapsession:enableSession>
    </sapsession:Session>
    <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
      <sapcentraladmin:BusinessApplicationID>4E0FEABD40EB5C26E10000000A7C0220</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
  </wsp:Policy>
  <wsp:Policy wsu:Id="OP_IF_OP_ZFB_S_PMD_CREATE_CDA_HEADER">
    <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
    <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
    <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
    <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
      <xsd:simpleType name="RfcException.Message.Number">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="3" />
          <xsd:pattern value="\d*" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char1">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="1" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char10">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="10" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char15">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="15" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char20">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="20" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char250">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="char8">
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="8" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="RfcException.Message">
        <xsd:sequence>
          <xsd:element name="ID" type="xsd:string" />
          <xsd:element name="Number" type="tns:RfcException.Message.Number" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ZFB_S_PMD_CREATE_CDA_HEADER.RfcException">
        <xsd:sequence>
          <xsd:element name="Name" type="tns:ZFB_S_PMD_CREATE_CDA_HEADER.RfcExceptions" />
          <xsd:element minOccurs="0" name="Text" type="xsd:string" />
          <xsd:element minOccurs="0" name="Message" type="tns:RfcException.Message" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="ZFB_S_PMD_CREATE_CDA_HEADER.RfcExceptions">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="FAILED" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:element name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception" type="tns:ZFB_S_PMD_CREATE_CDA_HEADER.RfcException" />
      <xsd:element name="ZFB_S_PMD_CREATE_CDA_HEADER">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="I_ANFORGID" type="tns:char8" />
            <xsd:element minOccurs="0" name="I_AUFTRAG_ID" type="xsd:string" />
            <xsd:element name="I_AUTHOR" type="tns:char10" />
            <xsd:element name="I_DOCID" type="xsd:string" />
            <xsd:element name="I_DOCKLASSE" type="xsd:string" />
            <xsd:element name="I_DOCKLASSE_DISPLAY" type="xsd:string" />
            <xsd:element minOccurs="0" name="I_DOCKLASSE_SYSTEM" type="xsd:string" />
            <xsd:element name="I_DOCTITEL" type="xsd:string" />
            <xsd:element name="I_DOCUMENT" type="xsd:string" />
            <xsd:element name="I_DOCVERSION" type="xsd:string" />
            <xsd:element name="I_ERBORGID" type="tns:char8" />
            <xsd:element minOccurs="0" name="I_FALNR" type="tns:char10" />
            <xsd:element minOccurs="0" name="I_LIC" type="xsd:string" />
            <xsd:element minOccurs="0" name="I_LICBC" type="tns:char15" />
            <xsd:element minOccurs="0" name="I_LOCALSAVE" type="tns:char1" />
            <xsd:element minOccurs="0" name="I_MAC" type="tns:char20" />
            <xsd:element minOccurs="0" name="I_MACBC" type="tns:char15" />
            <xsd:element minOccurs="0" name="I_OID_AUFTRAG" type="xsd:string" />
            <xsd:element minOccurs="0" name="I_OID_DOCKLASSE" type="xsd:string" />
            <xsd:element minOccurs="0" name="I_OID_ID" type="xsd:string" />
            <xsd:element minOccurs="0" name="I_OID_SID" type="xsd:string" />
            <xsd:element name="I_PATNR" type="tns:char10" />
            <xsd:element name="I_SYSTEM" type="xsd:string" />
            <xsd:element name="I_TIMESTAMP" type="xsd:string" />
            <xsd:element name="I_TIMESTAMP_LEISTEND" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ZFB_S_PMD_CREATE_CDA_HEADERResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="E_CDA" type="xsd:base64Binary" />
            <xsd:element name="E_ERRORTEXT" type="tns:char250" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ZFB_S_PMD_CREATE_CDA_HEADER">
    <wsdl:part name="parameters" element="tns:ZFB_S_PMD_CREATE_CDA_HEADER" />
  </wsdl:message>
  <wsdl:message name="ZFB_S_PMD_CREATE_CDA_HEADERResponse">
    <wsdl:part name="parameter" element="tns:ZFB_S_PMD_CREATE_CDA_HEADERResponse" />
  </wsdl:message>
  <wsdl:message name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception">
    <wsdl:part name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception" element="tns:ZFB_S_PMD_CREATE_CDA_HEADER.Exception" />
  </wsdl:message>
  <wsdl:portType name="zws_s_cda_header">
    <wsp:Policy>
      <wsp:PolicyReference URI="#IF_IF_zws_s_cda_header" />
    </wsp:Policy>
    <wsdl:operation name="ZFB_S_PMD_CREATE_CDA_HEADER">
      <wsp:Policy>
        <wsp:PolicyReference URI="#OP_IF_OP_ZFB_S_PMD_CREATE_CDA_HEADER" />
      </wsp:Policy>
      <wsdl:input message="tns:ZFB_S_PMD_CREATE_CDA_HEADER" />
      <wsdl:output message="tns:ZFB_S_PMD_CREATE_CDA_HEADERResponse" />
      <wsdl:fault name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception" message="tns:ZFB_S_PMD_CREATE_CDA_HEADER.Exception" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ZWS_S_CDA_HEADER" type="tns:zws_s_cda_header">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZWS_S_CDA_HEADER" />
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZFB_S_PMD_CREATE_CDA_HEADER">
      <soap:operation soapAction="urn:sap-com:document:sap:rfc:soapaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception">
        <soap:fault use="literal" name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ZWS_S_CDA_HEADER_SOAP12" type="tns:zws_s_cda_header">
    <wsp:Policy>
      <wsp:PolicyReference URI="#BN_BN_ZWS_S_CDA_HEADER_SOAP12" />
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ZFB_S_PMD_CREATE_CDA_HEADER">
      <wsoap12:operation soapAction="urn:sap-com:document:sap:rfc:soapaction" style="document" />
      <wsdl:input>
        <wsoap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <wsoap12:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception">
        <wsoap12:fault use="literal" name="ZFB_S_PMD_CREATE_CDA_HEADER.Exception" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ZWS_S_CDA_HEADER">
    <wsdl:port name="ZWS_S_CDA_HEADER" binding="tns:ZWS_S_CDA_HEADER">
      <soap:address location="http://akhsap71.routine.akhwien.at:8027/sap/bc/srt/rfc/sap/zws_s_cda_header/100/zws_s_cda_header/zws_s_cda_header" />
    </wsdl:port>
    <wsdl:port name="ZWS_S_CDA_HEADER_SOAP12" binding="tns:ZWS_S_CDA_HEADER_SOAP12">
      <wsoap12:address location="http://akhsap71.routine.akhwien.at:8027/sap/bc/srt/rfc/sap/zws_s_cda_header/100/zws_s_cda_header/zws_s_cda_header" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>