QS2.Desktop.Ressources.Auto10/Connected Services/WCFServicePMDS/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.BAL.Main" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL.DTO" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.DAL" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCFServicePMDS.CDABAL" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_initService_InputMessage">
    <wsdl:part name="parameters" element="tns:initService" />
  </wsdl:message>
  <wsdl:message name="IService1_initService_OutputMessage">
    <wsdl:part name="parameters" element="tns:initServiceResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_sendExceptionAsSMTPEMail_InputMessage">
    <wsdl:part name="parameters" element="tns:sendExceptionAsSMTPEMail" />
  </wsdl:message>
  <wsdl:message name="IService1_sendExceptionAsSMTPEMail_OutputMessage">
    <wsdl:part name="parameters" element="tns:sendExceptionAsSMTPEMailResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_testRep_InputMessage">
    <wsdl:part name="parameters" element="tns:testRep" />
  </wsdl:message>
  <wsdl:message name="IService1_testRep_OutputMessage">
    <wsdl:part name="parameters" element="tns:testRepResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLastStammdaten_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastStammdaten" />
  </wsdl:message>
  <wsdl:message name="IService1_getLastStammdaten_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastStammdatenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLastBenutzer_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastBenutzer" />
  </wsdl:message>
  <wsdl:message name="IService1_getLastBenutzer_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastBenutzerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getLastPatienten_InputMessage">
    <wsdl:part name="parameters" element="tns:getLastPatienten" />
  </wsdl:message>
  <wsdl:message name="IService1_getLastPatienten_OutputMessage">
    <wsdl:part name="parameters" element="tns:getLastPatientenResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_genCDA_InputMessage">
    <wsdl:part name="parameters" element="tns:genCDA" />
  </wsdl:message>
  <wsdl:message name="IService1_genCDA_OutputMessage">
    <wsdl:part name="parameters" element="tns:genCDAResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Export_InputMessage">
    <wsdl:part name="parameters" element="tns:Export" />
  </wsdl:message>
  <wsdl:message name="IService1_Export_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DynReportsInitStructure_InputMessage">
    <wsdl:part name="parameters" element="tns:DynReportsInitStructure" />
  </wsdl:message>
  <wsdl:message name="IService1_DynReportsInitStructure_OutputMessage">
    <wsdl:part name="parameters" element="tns:DynReportsInitStructureResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_testPDFIum_InputMessage">
    <wsdl:part name="parameters" element="tns:testPDFIum" />
  </wsdl:message>
  <wsdl:message name="IService1_testPDFIum_OutputMessage">
    <wsdl:part name="parameters" element="tns:testPDFIumResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="initService">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/initService" message="tns:IService1_initService_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/initServiceResponse" message="tns:IService1_initService_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="sendExceptionAsSMTPEMail">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/sendExceptionAsSMTPEMail" message="tns:IService1_sendExceptionAsSMTPEMail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/sendExceptionAsSMTPEMailResponse" message="tns:IService1_sendExceptionAsSMTPEMail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testRep">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/testRep" message="tns:IService1_testRep_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/testRepResponse" message="tns:IService1_testRep_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastStammdaten">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLastStammdaten" message="tns:IService1_getLastStammdaten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLastStammdatenResponse" message="tns:IService1_getLastStammdaten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastBenutzer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLastBenutzer" message="tns:IService1_getLastBenutzer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLastBenutzerResponse" message="tns:IService1_getLastBenutzer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getLastPatienten">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getLastPatienten" message="tns:IService1_getLastPatienten_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getLastPatientenResponse" message="tns:IService1_getLastPatienten_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="genCDA">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/genCDA" message="tns:IService1_genCDA_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/genCDAResponse" message="tns:IService1_genCDA_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Export">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Export" message="tns:IService1_Export_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/ExportResponse" message="tns:IService1_Export_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DynReportsInitStructure">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DynReportsInitStructure" message="tns:IService1_DynReportsInitStructure_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DynReportsInitStructureResponse" message="tns:IService1_DynReportsInitStructure_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="testPDFIum">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/testPDFIum" message="tns:IService1_testPDFIum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/testPDFIumResponse" message="tns:IService1_testPDFIum_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="initService">
      <soap:operation soapAction="http://tempuri.org/IService1/initService" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sendExceptionAsSMTPEMail">
      <soap:operation soapAction="http://tempuri.org/IService1/sendExceptionAsSMTPEMail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testRep">
      <soap:operation soapAction="http://tempuri.org/IService1/testRep" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastStammdaten">
      <soap:operation soapAction="http://tempuri.org/IService1/getLastStammdaten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastBenutzer">
      <soap:operation soapAction="http://tempuri.org/IService1/getLastBenutzer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getLastPatienten">
      <soap:operation soapAction="http://tempuri.org/IService1/getLastPatienten" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="genCDA">
      <soap:operation soapAction="http://tempuri.org/IService1/genCDA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Export">
      <soap:operation soapAction="http://tempuri.org/IService1/Export" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DynReportsInitStructure">
      <soap:operation soapAction="http://tempuri.org/IService1/DynReportsInitStructure" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testPDFIum">
      <soap:operation soapAction="http://tempuri.org/IService1/testPDFIum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCFServicePMDS/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>